In [8]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [9]:
dataset = pd.read_csv(r'C:\Users\ricar\Proyectos\Ruta Machine Learning\Fundamentos practicos Machine Learning\Datasets\salarios.csv')
dataset.head()
#Primero cuento con 2 columnas en el dataset:

   Aexperiencia  Salario
0          10.0    42500
1           8.0    36302
2           5.4    35000
3           2.5    18103
4           1.0    15000

In [10]:
# defino los paises en list paises
paises = ['CO','BR','PE','MX']

In [11]:
paises_dataset = [random.choice(paises) for i in range(len(dataset))]

In [13]:
dataset['pais'] = paises_dataset

In [14]:
dataset-head()

NameError: name 'head' is not defined

In [4]:
# llevo cada elemento de paises a que sea convertido a un numero
le1 = preprocessing.LabelEncoder()
paises_encoded = le1.fit_transform(paises)
paises_encoded

array([1, 0, 3, 2], dtype=int64)

In [5]:
# de forma aleatoria creo 30 elementos para dataset , el cual es el numero de tama√±o total
paises_dataset = [random.choice(paises_encoded) for i in range(len(dataset))]

In [6]:
# paises codificados y en lista pasados al dataset
dataset['pais'] = paises_dataset

In [7]:
dataset.head()

   Aexperiencia  Salario  pais
0          10.0    42500     0
1           8.0    36302     3
2           5.4    35000     3
3           2.5    18103     0
4           1.0    15000     0

In [43]:
#Dividir la columna pais en 3 , debido a que son datos en los cuales no hay categoria
ct = ColumnTransformer([("pais", OneHotEncoder(), [1])], remainder = 'passthrough')

In [44]:
# Dividiendo las columnas en 'x' y 'y'
x = dataset.drop(['Salario'], axis=1)
y = dataset.iloc[:,1]

In [45]:
x = ct.fit_transform(x)
x

array([[ 0. ,  1. ,  0. ,  0. , 10. ],
       [ 1. ,  0. ,  0. ,  0. ,  8. ],
       [ 1. ,  0. ,  0. ,  0. ,  5.4],
       [ 0. ,  1. ,  0. ,  0. ,  2.5],
       [ 0. ,  1. ,  0. ,  0. ,  1. ],
       [ 0. ,  0. ,  0. ,  1. ,  8. ],
       [ 0. ,  1. ,  0. ,  0. ,  4. ],
       [ 0. ,  0. ,  1. ,  0. ,  6. ],
       [ 0. ,  0. ,  0. ,  1. ,  2. ],
       [ 0. ,  0. ,  0. ,  1. , 10. ],
       [ 0. ,  0. ,  0. ,  1. ,  4. ],
       [ 0. ,  1. ,  0. ,  0. ,  7. ],
       [ 0. ,  0. ,  1. ,  0. ,  3. ],
       [ 1. ,  0. ,  0. ,  0. ,  5. ],
       [ 0. ,  0. ,  1. ,  0. ,  2. ],
       [ 0. ,  0. ,  1. ,  0. ,  5. ],
       [ 0. ,  0. ,  1. ,  0. ,  3. ],
       [ 0. ,  1. ,  0. ,  0. ,  2. ],
       [ 0. ,  0. ,  1. ,  0. ,  3. ],
       [ 0. ,  0. ,  0. ,  1. ,  2. ],
       [ 0. ,  0. ,  1. ,  0. ,  5. ],
       [ 0. ,  1. ,  0. ,  0. ,  3.4],
       [ 1. ,  0. ,  0. ,  0. ,  5.3],
       [ 1. ,  0. ,  0. ,  0. ,  2.1],
       [ 0. ,  0. ,  0. ,  1. ,  9.2],
       [ 0. ,  0. ,  1. ,  0. , 10. ],
       [ 1. ,  0. ,  0. ,  0. ,  3.2],
       [ 0. ,  0. ,  1. ,  0. , 10. ],
       [ 0. ,  0. ,  1. ,  0. ,  4. ],
       [ 0. ,  1. ,  0. ,  0. ,  1. ]])

In [46]:
# dividimos nuestro dataset
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [47]:
#Escalado de variables
#Se realiza para estabilizar los datos y dar importancia a todas las columnas por igual

from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [48]:
# Invocamos el modelo y creamos el modelo con .fit
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [49]:
# Evaluamos performance
print(regressor.score(X_test, y_test))

0.7691365491141726

In [ ]:
#Esto quiere decir que el 77% de los nuevos datos que ingresen con a√±os de experiencia y pais , seran correctos.